.container{
  background: url("https://img.freepik.com/free-photo/mesmerizing-scenery-green-mountains-with-cloudy-sky-surface_181624-27189.jpg?t=st=1746383710~exp=1746387310~hmac=662305e76811f15ca593c3c0405c294f958792515f565a31835c33100ffc998a&w=900") center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: none;
  box-shadow: 0 0 10px black;
  width: 500px;
  height: 500px;
  padding: 20px;
  margin-top: 50px;
  color: red;

}